:root {
    --main: #f2eef5;
    --background: #fffffe;
    --headline: #181818;
    --highlight: #994ff3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main);
    height: 100%;
    overflow-y: auto;
}

#nav-bar {
    text-decoration: none;
    display: flex;
    justify-content: left;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 40px;
    background: var(--background);
    font-size: 20px;
    z-index: 10;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--headline);
    padding: 0 10px;
}

.container {
    display: flex;
    justify-content: flex-start;  
    align-items: flex-start;
    max-width: 100%;
    width: 100%;
    margin-top: 80px;
    flex-wrap: wrap;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-left: 30px;
    scroll-margin-top: 100px;
}

#about h1 {
    font-size: 60px;
    color: var(--headline);
}

#about h2 {
    max-width: 1000px;
    font-size: 25px;
    margin-bottom: 100px;
    font-family: "Montserrat";
    margin-top: 20px;
    line-height: 1.6;url(https://www.happyhues.co/palettes/15)
}

.download-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: var(--headline);
    background-color: var(--background); /* Adjust to match your theme */
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Adjust for sharper or rounder corners */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: -60px;
}

.download-button:hover {
    background-color: var(--main); 
    transform: scale(1.05);
}

.download-button:active {
    background-color: var(--background); /* Even darker shade for active state */
    transform: scale(0.95); /* Slight shrink on click */
}

.container p {
    font-size: 50px;
    line-height: 1.6;
    max-width: 700px;
}

.photo {
    flex: 0 0 500px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}

.photo img {
    max-height: 500px;
    width: auto;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 100px;
}

#skills{
    padding: 30px;
    margin-top: 75px;
}

#skills-about{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto; /* Center the content */
}

#skills-about h3{
    font-size: 50px;
    margin-left: 100px;
}

#skills-about h4{
    margin-left: 100px;
    text-align: left;
    font-size: 20px;
    line-height: 1.6;
    flex: 1;
    font-family: "Montserrat";
}

.skills-boxes{
    display: flex;
    justify-content: space-around; /* Distribute boxes evenly */
    align-items: stretch;
    margin: 20px auto; 
}

.skill-box {
    flex: 1;
    margin: 30px 10px;
    padding: 20px;
    background-color: var(--background);
    color: var(--headline);
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    border: 2px solid var(--highlight);
    border-radius: 8px;
    transition: transform 0.2s ease-in;
}

.skill-box h5{
    font-size: 35px;
}

.skill-box p{
    margin-top: 10px;
    line-height: 30px;
}

.skill-box:hover{
    transform: scale(1.1);
    cursor: pointer;
}

footer{
    border-top: 3px solid var(--primary);
    color: var(--base-100);
    font-size: 15px;
    padding: 30px;
}

#contact{
    background-color: var(--background);
}
#contact .social-medias{
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 30px;
    justify-content: space-around;
}

#contact h1{
    margin: 20px;
    text-align: center;
}

#contact .social-media{
    text-decoration: none;
    color: var(--base-100);
    transition: transform 0.2s ease-in;
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 0px;
}

.skill-box i{
    color: var(--highlight);
}

#contact .social-media:hover{
    transform: scale(1.3);
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    #nav-bar{
        justify-content: space-around;
        font-size: 15px;
    }

    .container {
        flex-direction: column;  
        align-items: center;
        overflow-x: hidden;
    }

    .photo {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        width:100%;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-top: 0px;
    }

    #about {
        align-items: flex-start;
        text-align: left;
        margin-left: -5px;
        padding: 0 10px;
        margin-top: 0px;
        scroll-margin-top: 70px;
    }

    #about h1 {
        font-size: 30px;
    }

    #about h2 {

        font-size: 20px;
    }

    .container p {
        margin-top: 10px;
        font-size: 20px;
    }

    .photo img {
        margin-left: 60px;
        height: auto;
        max-width: 95%;
        object-fit: contain;
    }

    #contact{
        justify-content: space-evenly;
        align-items:center;
    }

    #skills{
        scroll-margin-top: 50px;
    }

    #skills-about{
        align-items: flex-start;
        flex-direction: column;
        padding: 0px;
    }

    #skills-about h3{
        margin-left: -10px;
        font-size: 30px;
    }

    #skills-about h4{
        margin-top: 20px;
        margin-left: -10px;
        font-size: 20px;
    }

    .skills-boxes{
        flex-direction: column;
        
    }

    .skill-box{
        margin: 10px 0;
    }

    h5{
        font-size: 30px;
    }

    .skill-box p{
        font-size: 20px;
    }
    
    .skill-box:hover{
        transform: none;
    }

}
